# macOS system file
.DS_Store

# Node.js dependencies
node_modules/

# Sensitive information
.env

# Log files
*.log

# Code coverage reports
coverage/

# JetBrains IDE files
.idea/
*.iml

# VS Code configuration
.vscode/

# Cached data
.cache/

# Dependency lock files
yarn.lock
package-lock.json

# Vim/Neovim
*.swp
*~
*.bak
*.un~

# project binaries
**/images/
**/publications/
